body {
    margin: 0;
    background-color: #2fdfc8b0;
  }
.Paneli{
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #00400E;
    z-index: 1000;
}
.new_games{
    
    text-align: center;
    position: relative;
    top: 99px;
    background-color: #1aa13c98;
}
.Newss{
    text-align: center;
    top: 70px;
    position: relative;
    background-color: #1fa767a8;
}
  
.Forums{
    top: 150px;
    position: relative;
    text-align: left;
    background-color: #0ea72271;
}

.texth1 {
    display: inline-block;
    margin-right: 60px;
    font-size: 25px;
    color: #FFFFFF;
    
  }

.Titles{
    display: block;
    text-align: center;
}

.game{
    margin: 200px;
    display: inline-block;
    font-size: 25px;
}

.new{
    display: inline-block;
    margin-right: 60px;
    font-size: 25px;
}
  
.forum{
    display: block;
    font-size: 25px;
}
.socio{
    display: inline-block;
    font-size: 25px;
    
}

.Soc{
    text-align: center;
    background-color: #00ffbf;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-color: rgba(168, 159, 32, 0.637);
    font-size: 35px;
}

.sign label, .sign input, .sign button {
    margin-bottom: 50px;
}

.sign button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    background-color: #1ed68a;
    font-size: 35px;
}

.login label, .login input, .login button {
    margin-bottom: 110px;
}

.login button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.End{
    background-color: black;
    height: 100px; 
}
.Review{
    text-align: center;
    position: relative;
    top: 99px;
    background-color: #91c51870;
}
.SystemRequest{
    text-align: center;
    position: relative;
    top: 99px;
    background-color: #7fcf2285;
}

.Comends{
    text-align: center;
    position: relative;
    top: 99px;
    background-color: #ebebeb86;
}
.Tema{
    text-align: center;
    position: relative;
    top: 99px;
    background-color: #e9e9e993;
}
.ppp{
    font-size: 35px;
    color: #ffffff;
    margin-right: 20px;
}

.error {
    color: red;
    font-size: 25px;
    background-color: white;
}