{% extends 'base.html' %}

{% block title %} Games {% endblock %}
{% block content %}
    
    <div class="new_games">
        <h1 class='Titles'>NEW GAMES</h1>

        <div class="game">
            <h2>Game 1</h2>
            <p>Description 1</p>
        </div>
        <div class="game">
            <h2>Game 2</h2>
            <p>Description 2</p>
        </div>
        <div class="game">
            <h2>Game  3</h2>
            <p>Description 3</p>
        </div>
        <div class="game">
            <h2>Game 1</h2>
            <p>Description 1</p>
        </div>
        <div class="game">
            <h2>Game 2</h2>
            <p>Description 2</p>
        </div>
        <div class="game">
            <h2>Game  3</h2>
            <p>Description 3</p>
        </div>
        <div class="game">
            <h2>Game 1</h2>
            <p>Description 1</p>
        </div>
        <div class="game">
            <h2>Game 2</h2>
            <p>Description 2</p>
        </div>
        <div class="game">
            <h2>Game  3</h2>
            <p>Description 3</p>
        </div>
    </div>
{% endblock %}

