{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

    <div class="new_games">
        <h1 class='Titles'>NEW GAMES</h1>

        <div class="game">
            <h2>Game 1</h2>
            <p>Description 1</p>
        </div>
        <div class="game">
            <h2>Game 2</h2>
            <p>Description 2</p>
        </div>
        <div class="game">
            <h2>Game  3</h2>
            <p>Description 3</p>
        </div>
    </div>
    <div class="Newss">
        <h1 class="Titles"> News</h1>

        <div class="new">
            <h2>News 1</h2>
        </div>
        <div class="new">
            <h2>News 2</h2>
        </div>
        <div class="new">
            <h2>News  3</h2>

    </div>

    <div class="Forums">
        <h1 class="Titles">Forums</h1>

        <div class="forum">
            <h2>Forum 1</h2>
        </div>
        <div class="forum">
            <h2>Forum 2</h2>
        </div>
        <div class="forum">
            <h2>Forum3</h2>

    </div>

    <div class="Soc">
        <h1 class="Titles">Our soc media</h1>
        
        <h3 class="socio">Instagram</h3>
        <h3 class="socio">Telegram</h3>
        <h3 class="socio">E-mail</h3>

    </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='mainn.css')}}">
    <title>Home</title>
</head>
<body>
    <nav class="Paneli">
        <a class="texth1" href="{{ url_for('home.Games') }}">Games</a>
        <a class="texth1" href="{{ url_for('home.News') }}">News</a>
        <a class="texth1" href="{{ url_for('home.Forums') }}">Forums</a>
        <a class="ppp" href="{{ url_for('home.Log') }}">Log</a>
        <a class="ppp" href="{{ url_for('home.Sign') }}">/Sign</a>
    </nav>
    <div class="new_games">
        <h1 class='Titles'>NEW GAMES</h1>

        <div class="game">
            <h2>Game 1</h2>
            <p>Description 1</p>
        </div>
        <div class="game">
            <h2>Game 2</h2>
            <p>Description 2</p>
        </div>
        <div class="game">
            <h2>Game  3</h2>
            <p>Description 3</p>
        </div>
    </div>
    <div class="Newss">
        <h1 class="Titles"> News</h1>

        <div class="new">
            <h2>News 1</h2>
        </div>
        <div class="new">
            <h2>News 2</h2>
        </div>
        <div class="new">
            <h2>News  3</h2>

    </div>

    <div class="Forums">
        <h1 class="Titles">Forums</h1>

        <div class="forum">
            <h2>Forum 1</h2>
        </div>
        <div class="forum">
            <h2>Forum 2</h2>
        </div>
        <div class="forum">
            <h2>Forum3</h2>

    </div>

    <div class="Soc">
        <h1 class="Titles">Our soc media</h1>
        
        <h3 class="socio">Instagram</h3>
        <h3 class="socio">Telegram</h3>
        <h3 class="socio">E-mail</h3>

    </div>
    <div class="End">
    </div>
</body>
</html> -->