{% extends 'base.html' %}

{% block title %} Log {% endblock %}
{% block content %}
<form action="/Log" method="POST" class="login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    {%if username_error%}
    <p class="error">{{ username_error }}</p>
    {% endif %}

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    {%if password_error%}
    <p class="error">{{ password_error }}</p>
    {% endif %}
    <button type="submit">Login</button>
</form>
{%endblock%}
